
mixin modal() 
	//  start modals

	+b.modal-win(id="modal-call" class=" " style="display: none" )
		+form-wrap
			.text-center
				.h3.strong Привет, авторизуйтесь
				p.small Вы сможете добавлять товары в избранное, смотреть историю заказов и отправлять заказы на сохраненные адреса
			+input("+7 ХХХ ХХХ ХХ ХХ",'tel','Ваш номер телефона')(required)  
			+e.BUTTON.btn.btn.btn-accent(type="submit"  ) Войти
			+polite()
	// #modal-call
	
	+b.modal-win(id="modal-sms" class=" " style="display: none" )
		+form-wrap
			.text-center
				.h3.strong Привет, авторизуйтесь
				p.small Введите код из смс, мы отправили его на <br> +7 985 994 88 99 
			+input("Х Х Х Х",'text')(required).sms.text-center

			.text-center
				.small.mb-3 Отправить еще раз через 00:50
				.small.mb-3 Отправить код повторно можно через 00:50
				a.small(href="#") Войти под другим номером 
	// #modal-sms
	+b.modal-win(id="modal-invaild" class=" " style="display: none" )
		+form-wrap
			.text-center
				.h3.strong Привет, авторизуйтесь
				p.small Введите код из смс, мы отправили его на <br> +7 985 994 88 99 
			+input("Х Х Х Х",'text')(required).sms.text-center.is-invalid
				.invalid-feedback Неверный код

			.text-center 
				.small.mb-3 
					a.small(href="#") Отправить код повторно
				a.small(href="#") Войти под другим номером 
	// #modal-invaild
	
	// end modals