
mixin modal() 
	//  start modals

	+b.modal-win(id="modal-call" class=" " style="display: none" )
		+form-wrap
			.text-center
				.h3.strong Привет, авторизуйтесь
				p.small Вы сможете добавлять товары в избранное, смотреть историю заказов и отправлять заказы на сохраненные адреса
			+input("+7 ХХХ ХХХ ХХ ХХ",'tel','Ваш номер телефона')(required)  
			+e.BUTTON.btn.btn.btn-accent(type="submit"  ) Войти
			+polite()
	// #modal-call
	
	+b.modal-win(id="modal-sms" class=" " style="display: none" )
		+form-wrap
			.text-center
				.h3.strong Привет, авторизуйтесь
				p.small Введите код из смс, мы отправили его на <br> +7 985 994 88 99 
			+input("Х Х Х Х",'text')(required).sms.text-center

			.text-center
				.small.mb-3 Отправить еще раз через 00:50
				.small.mb-3 Отправить код повторно можно через 00:50
				a.small(href="#") Войти под другим номером 
	// #modal-sms
	+b.modal-win(id="modal-invaild" class=" " style="display: none" )
		+form-wrap
			.text-center
				.h3.strong Привет, авторизуйтесь
				p.small Введите код из смс, мы отправили его на <br> +7 985 994 88 99 
			+input("Х Х Х Х",'text')(required).sms.text-center.is-invalid
				.invalid-feedback Неверный код

			.text-center 
				.small.mb-3 
					a.small(href="#") Отправить код повторно
				a.small(href="#") Войти под другим номером 
	// #modal-invaild
	+b.modal-win--adress(id="add-ardress" class=" " style="display: none" )
		+form-wrap
			.h3 Новый адрес
			.row
				.col-lg-3
					+input("Введите", 'text', 'Название адреса')
				.col-lg-9
					+input("Начните вводить", 'text', 'Адрес')
			+e.map-wrap
				#map.map 
			.row
				.col-lg-2
					+input("Введите", 'text', 'Дом')
				.col-lg-2
					+input("Корпус", 'text', 'Дом')
				.col-lg-2
					+input("Квартира", 'text', 'Дом')
				.col-lg-2
					+input("Подъезд", 'text', 'Дом')
				.col-lg-2
					+input("Домофон", 'text', 'Дом')
				.col-lg-12
					+input("Например ориентиры, Вход в арку", 'text', 'Комментарий курьеру')
			.row
				.col-sm
					+e.adress г. Ханты-Мансийск, ул. Садовая, д. 14 корп. 52, кв. 12
					+e.moreinfo 3 подъезд, 7 этаж, 352 домофон
				.col-sm-auto
					+e.link(href="#").btn-accent Сохранить адрес
	// add-ardress
	// end modals
<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcIQI6ds1aBAYElrXhpAsu8apLm9VqSNE&callback=initMap&v=weekly"></script>
script.
	let map;

	function initMap() {
		map = new google.maps.Map(document.getElementById("map"), {
			center: new google.maps.LatLng(-33.91722, 151.23064),
			zoom: 16,
		});
		new google.maps.Marker({
			position: center,
			map,
			title: "Hello World!",
		});
		window.initMap = initMap;
	}
//- script(async defer)