.modal-win {
	// display: block;
	width: 100%;
	position: relative;
	max-width: rem(448);
	border-radius: 40px;
	overflow: visible;
	.form-wrap__input-title{
		font-size: rem(16);
	}
	padding: rem(38) rem(32);
	.form-wrap__btn{
		margin-left: auto;
		margin-right: auto;
		width: 124px;
		display: block;
		margin-bottom: 24px;
	}
	.modal-content {
		// max-width: 485px;
		// padding-right: 40px 15px;
	}

	.mfp-close {
		color: $primary;
		font-size: 40px;
		font-weight: 100;
	}
	&--adress {
		max-width: rem(1070);
		.form-wrap {
			form {
				margin-bottom: 0;
			}
			&__input-title {
				margin-bottom: rem(5);
				display: inline-block;
			}
			&__map-wrap {
				margin-bottom: rem(23);
				border-radius: 20px;
				overflow: hidden;
				@include block(1008, 264);
				@include media-breakpoint-down(lg) {
					--ratio: 510/1008;
				}
				@include media-breakpoint-down(sm) {
					--ratio: 840/1008;
				}
				.map {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
			&__adress {
				letter-spacing: 0.02em;
				font-size: rem(16);
				line-height: 1.5em;
				font-weight: 700;
			}
			&__moreinfo {
				opacity: 0.6;
				letter-spacing: 0.02em;
				font-size: rem(14);
			}
			&__link {
				margin-top: rem(10);
				padding: rem(9) rem(33);
			}
		}
	}
}

a {
	outline: 0 !important;
}

.modal-form {
	position: relative;
}

#foot-dialog {
	h3 {
		font-size: em(36);
	}
}

 

@include media-breakpoint-up(sm) {
	.modal-text {
		max-width: 1000px;
	}
}

.polite {
	.link {
		color: $primary;
		cursor: pointer;
		text-decoration: underline;

		:hover {
			display: none;
		}
	}
}
.fancybox-slide--html .fancybox-close-small {
	background: #FF5274;
border-radius: 12px;
opacity: 1;
padding: 2px;
width: 32px;
height: 32px;
background-image: var(--close);
background-position: center center;
background-repeat: no-repeat;
svg{
	display: none;
	stroke-width: 4px;
}
}


// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

// 
@include media-breakpoint-between(md, xl) {}

// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}

.invalid-feedback{
	text-align: center;
	font-size: 11px;
}

input.is-invalid{
	color: $danger;
}