:root {
	--animate-delay: 1.2s;

		@include media-breakpoint-up(xl) {

			--fontSizeBase: #{$em-base};
		}
		// --fontSizeBase: 18px;
	@include media-breakpoint-up(md) {

		// --sPT: #{rem(80)};
		// --sPB: #{rem(90)};
		// --sTPB: #{rem(40)};
	}

	--sPT: #{rem(40)};
	--sPB: #{rem(40)};
	--sTPB: #{rem(40)};


		--swiperArrowSize: #{rem(44)};
		--swiperArrowPosition: 0;
		--swiperBorderColorDef: var(--bs-primary);
		--swiperColorDef: var(--bs-primary);
		--swiperBgDef: #ffffff;
	
		--swiperBorderColorDefHover: var(--bs-primary);
		--swiperColorDefHover: var(--bs-primary);
		--swiperBgDefHover: #ffffff;


	 --close: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.68722 9.01437L4.95318 6.28033L2.36584 8.86766L1.14553 7.64735L3.73286 5.06001L0.985485 2.31263L2.32583 0.972288L5.07321 3.71966L7.64721 1.14567L8.86752 2.36598L6.29352 4.93998L9.02756 7.67402L7.68722 9.01437Z' fill='%231F1F1F'/%3E%3C/svg%3E%0A");
}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

//
@include media-breakpoint-between(md, xl) {}


//
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

//
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}