// start .sProdCard
.sProdCard {
	--sPT: 0;
	// --sPB: ;
	// --sTPB: ;

	padding-bottom: calc(var(--sPB) / 2.7);

	h1,
	.h1 {
		font-weight: bold;
		color: #1f1f1f;
		margin-bottom: rem(16);
	}

	&__row {
		@include media-breakpoint-up(xl) {
			@include roww(134px);
		}
		padding-bottom: rem(22);
		@include media-breakpoint-up(md) {
			padding-bottom: rem(42);
		}
	}
	&__review {
	}
	&__imgWrap {
		border-radius: 40px;
		overflow: hidden;
		@include block(592, 381);
		img {
			@include a-cent;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__infoRow {
		padding-bottom: rem(20);
		@include media-breakpoint-up(lg) {
			padding-bottom: rem(36);
		}
		@include roww(15px);
		max-width: 450px;
		.row {
			@include roww(16px);
		}
	}
	&__reviewRow {
		@include media-breakpoint-up(sm) {
			justify-content: flex-end;
		}
	}
	&__price {
		font-size: $h1-font-size;
		font-weight: bold;
		margin-bottom: rem(15);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(25);
		}
		color: #1f1f1f;
	}
	&__btn {
		width: 100%;
		max-width: 280px;

		img {
			margin-right: rem(16);
		}
	}
	&__col {
		@include media-breakpoint-up(xl) {
			max-width: 54%;
		}
		@include media-breakpoint-down(lg) {
			padding-top: rem(20);
		}
	}
	&__btnCol {
		display: flex;
		justify-content: flex-end;
	}

	p {
		line-height: calc(32 / 20);
	}

	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sProdCard

.quantly {
	display: flex;
	align-items: center;
	&__btn {
		border: none;
		border-radius: 50%;
		width: rem(45);
		height: rem(45);
		background-color: #fff;

		outline: none !important;
		@include mt;
		display: inline-flex;
		position: relative;
		&::before {
			content: "";
			@include a-cent1;
			height: 40px;
			width: 100%;
		}
		&.active,
		&:hover {
			background-color: var(--bs-primary);
		}

		.icon {
			margin: auto;
		}
	}
	.minus {
		.icon {
			font-size: rem(5);
		}
	}
	.plus {
		.icon {
			font-size: rem(20);
		}
	}
	&__input {
		border: none;
		outline: none;
		background: transparent;
		max-width: rem(45);
		text-align: center;
	}
}
