extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sProdCard/_sProdCard.pug
include ../blocks/sCabinet/_sCabinet.pug
include ../blocks/sCheckout/_sCheckout.pug
include ../blocks/sBasket/_sBasket.pug

block variables
	- let  mainPage= null 
	- let  bg= '03.jpg'

block title
	- let  title= 'Оформление заказа'
	title= title
block pagecontent

	+mob-mnu()
	+top-nav()
	.container.section 
		+b.btnBack(href="#")
			//- +icon('arrowL')
			img(src="img/svg/arrowL.svg" alt="Назад")
	+sContent-inner({
		title: title
	})
		+sCheckout
	+footer()

block map
	script.
		let map;

		var myMap;

		ymaps.ready(init);
		function init () {
			myMap = new ymaps.Map('#map', {
					center:[55.76, 37.64],
					zoom:10
			});
			myPlacemark2 = new ymaps.Placemark([55.76, 37.56], {
					}, {
						iconImageHref: 'img/@2x/google-marker.png',
						iconImageSize: [30, 42],
						iconImageOffset: [-3, -42]
					});
		}


