mixin sContent()
	// start sContent
	+b.SECTION.sContent--seo.section(style="background: #FFCE0B;")&attributes(attributes)
		.container
			.row
				.col-lg-6
					h2 Самые вкусные  и сочные Бургеры
					p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам
		+pic('content-img.jpg','bg')
	// end sContent

mixin sContent-inner(data)
	// start sContent
	+b.SECTION.sContent--inner.section&attributes(attributes)
		.container
			+e.row.row
				.col-md-8.col-lg-9.sContent__col
					h1= data.title
					p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам
					p.sm.text-dark Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам 
					strong Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона:
					ul 
						li Давно выяснено, что при оценке дизайна и композиции читаемый текст
						li мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает
						li более или менее стандартное заполнение шаблона, а также реальное распределение
						li букв и пробелов в абзацах, которое не получается при простой дубликации
						li Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.
					blockquote.text-center Выделенный текст, сноска, важный комментарий в&nbsp;блоке текса в&nbsp;пару строк для наглядности
					+pic('content.jpg','','')
					p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам 
				.col
					+e.sitebarRow.row 
						+e.sitebarCol.col-auto.col-md-12
							+e.cardWrap 
								+e.cardTitle Блюдо дня
								+card('4',`Фирменный Las Burger`,`Свежая булочка, мраморная говядина medium well, сыр, листья салата, ломтики помидоров, маринованные...`, '2 150','Блюдо дня')
						+e.sitebarCol.col-auto.col-md-12
							+e.baner(href="#")
								+pic('banner.jpg','','')
	// end sContent